
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-form-field appearance="outline">
        <mat-label id="lName" formControlName="lName">Last Name</mat-label>
        <input matInput type="text" formControlName="lName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="fName" formControlName="fName">First Name</mat-label>
        <input matInput type="text" formControlName="fName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="mName" formControlName="mName">Middle Name</mat-label>
        <input matInput type="text" formControlName="mName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="mobileNo" formControlName="mobileNo">Mobile Number</mat-label>
        <input matInput type="text" formControlName="mobileNo">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="emailAdd" formControlName="emailAdd">E-mail Address</mat-label>
        <input matInput type="text" formControlName="emailAdd">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="uName" formControlName="uName">Username</mat-label>
        <input matInput type="text" formControlName="uName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="npWord" formControlName="npWord">Nominated Password</mat-label>
        <input matInput type="text" formControlName="npWord">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label id="rpWord" formControlName="rpWord">Retype Password</mat-label>
        <input matInput type="text" formControlName="rpWord">
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
    
</body>
</html>
    